<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="WSTTA_ROBOT">
    <link
    name="camera_link">
    <inertial>
      <origin
        xyz="-0.0155625954169814 0.000506553668932819 -0.00990959838200356"
        rpy="0 0 0" />
      <mass
        value="0.040716010674304" />
      <inertia
        ixx="3.40771953742637E-05"
        ixy="3.91449036001671E-08"
        ixz="-3.21797521867333E-07"
        iyy="1.0051607522427E-05"
        iyz="5.45625194311449E-09"
        izz="2.65393762064849E-05" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mm_bringup)/meshes/camera_link_c.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.592156862745098 0.666666666666667 0.682352941176471 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="file://$(find mm_bringup)/meshes/camera_link_c.STL" />
      </geometry>
    </collision>
  </link>
  <joint
    name="camera_joint"
    type="fixed">
    <origin
      xyz="0.25609 0.00023801 0.069998"
      rpy="0 0 0" />
    <parent
      link="base_link" />
    <child
      link="camera_link" />
    <axis
      xyz="0 0 0" />
  </joint>
<link name="camera_optical"/>
<joint name="camera_optical_joint" type="fixed">
  <parent link="camera_link"/>
  <child link="camera_optical"/>
  <origin xyz="0.0 0.0 0.0" rpy="${-pi/2} 0.0 ${-pi/2}"/>
</joint>

    
<gazebo reference="camera_link">
      <sensor name="depth_camera" type="rgbd_camera">
        <always_on>true</always_on>
        <visualize>true</visualize>
        <update_rate>30.0</update_rate>
        <topic>depth_camera</topic>
        <camera>
          <horizontal_fov>1.26</horizontal_fov>
          <image>
            <width>640</width>
            <height>480</height>
          </image>
          <clip>
            <near>0.2</near>
            <far>6</far>
          </clip>
          <frame_id>camera_optical</frame_id>
          <optical_frame_id>camera_link</optical_frame_id>
        </camera>
        <baseline>0.2</baseline>
        <pointCloudCutoff>0.05</pointCloudCutoff>
        <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
        <distortionK1>0</distortionK1>
        <distortionK2>0</distortionK2>
        <distortionK3>0</distortionK3>
        <distortionT1>0</distortionT1>
        <distortionT2>0</distortionT2>
        <CxPrime>0</CxPrime>
        <Cx>0</Cx>
        <Cy>0</Cy>
        <focalLength>0</focalLength>
        <hackBaseline>0</hackBaseline>
      </sensor>
</gazebo>

</robot>
